#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(48, 39, 39);
  position: relative;
  
  
}
h1{
  font-weight: 100;
  font-family: "Moo Lah Lah", sans-serif;
  font-size: 75px;
  
}
body{
  background-color: rgb(139, 114, 109);
}

.hide{
  display:none;
}

.reveal{
  display:block;
}

img{
  width: 175px;
  height: 175px;
  border-radius: 8px;
}

.imageCards{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:15px
}
.card{
  height: 215px;
  width:215px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D0E4F5 url("https://media.rainpos.com/10306/181_brown.jpg") no-repeat;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px; 
}

.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  position: fixed;
  bottom: 50%;
  left: 42.5%;
  font-size: 60px; 
  padding: 5px; 
  border-radius: 10px;   
  box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px; 
  color:rgb(139, 114, 109);
  font-family: "Moo Lah Lah", sans-serif;
}


